.nav-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.nav-link:hover{
    width: 100%;
    border-radius: 50px;
    background-color: aliceblue;
}
.container{
    padding: 0;
    margin: 0;
    height: 100px;

}

.divi-card{
    background-image: linear-gradient(#31c0d3,#0f9eb170);
    
    
}
.card-2{
    text-align: center;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}