.nav-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.nav-link:hover{
    width: 100%;
    border-radius: 50px;
    background-color: aliceblue;
}
.container{
    padding: 0;
    margin: 0;
    height: 100px;

}
.carousel-item img {
    height: 700px;
    object-fit: cover;
}
.divi{
    text-align: center;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
