.nav-link{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.nav-link:hover{
    width: 100%;
    border-radius: 50px;
    background-color: aliceblue;
}
.container{
    padding: 0;
    margin: 0;
    height: 100px;

}

.divi-card{
    background-image: linear-gradient(#31c0d3,#0f9eb170);
    
    
}
.card-2{
    text-align: center;
    padding:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.rating {
    display: inline-block;
    font-size: 0;
    position: relative;
  }
  
  .rating .star {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('star.png') no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  
  .rating .star:hover,
  .rating .star:hover ~ .star {
    background-position: 0 -25px;
  }
  
  .rating .star.active,
  .rating .star.active ~ .star {
    background-position: 0 -50px;
  }
  